
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center; 
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

main {
    grid-column: 1 / 3; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 

}

.header {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 220px);
    grid-column: 1/3;
    grid-row: 1;
    overflow: hidden;
    box-shadow: 0 14px 10px 2px rgb(207, 204, 204);
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    
}

.header-logo {
    display: flex;
    max-width: 70%;
    
}

.header-sprout {
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    object-fit: cover;
}

.left-section-center {
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
}

.right-section-brown-block {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #845533; 
    min-width: 100%;
    min-height: 100%;
}

.right-section-green-block {
   display: flex;
   justify-content: center;
   grid-column: 2/3;
   grid-row: 2/3;
   background-color: #1f654e; 
   min-width: 100%;
   min-height: 100%;
}

.logo--seedling {
    display: flex;
   justify-content: center;
   grid-column: 2/3;
   grid-row: 2/3;
   width: 30%;
}

.logo--dig {
   display: flex;
   justify-content: center;
   grid-column: 2/3;
   grid-row: 2/3;
   width: 30%;
}

.nav {
    display: flex;
    grid-column: 1/3; 
    grid-row: 3; 
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    
}

.nav_link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 1;
    color: #1f654e;
    font-family: 'Maven pro';
}
    

h1 {
    color: #1f654e;
    margin-top: 3rem;
    font-family: 'Maven pro';
    margin-bottom: 4rem;

}

.article1 {
    display: grid;
    grid-template-columns: 400px 400px;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.article1__box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f654e;
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    aspect-ratio: 1/1;

}

.article1__img {
    width: 50%;
    height: auto;

}

.article1__box2 {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    font-family: 'Open Sans';

    }


.article1__button {
    border-style: none;
    background-color: #1f654e;
    color: rgb(255, 255, 255);
    border-radius: 0.6rem;
    height: 3rem;
    width: 9rem;
    margin-top: 1rem;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    margin-left: auto;
    
}

.greenline {
    background-color: #1f654e;
    width: 25rem;
    height: 0.2rem;
    margin-top: 5rem;
   margin-left: 13rem;
   margin-bottom: 8rem;
}

.article2__h2 {
    font-family: 'Lato';
    margin-bottom: 4rem;
    
}

.article2__cards {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.article2__card__image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.article2__logo {
    position: absolute;
}